.dark{
    background-color: hwb(0 9% 88%);
}
/*Header Component*/
#header{
    height : 80px ;
    box-shadow: 0 0 20px lightslategray;
    position: sticky;
    top: 0;
    z-index: 10;
}
.logo{
    border-radius: 50% ;
    height: inherit;
}
.logo-name{
    font-family: cursive;
}
.header-items{
    list-style: none;
    cursor: pointer;
}
.theme-image{
    height: 50px;
}

/*Carousel Component*/
.carousel{
    height:500px;
}
.carousel img{
    height: 500px;
    position: absolute;
    filter: brightness(1.2);

}

.controls{
    position: absolute;
    color: white;
    z-index: 5;
    top : 250px ;
    cursor: pointer;
}

.fa-chevron-left{
    left: 50px ;
}
.fa-chevron-right{
    right: 50px ;
}

@keyframes left-anim {
    from{
        left : 1000px ;
    }to{
        left : 0px ; 
    }
}
@keyframes right-anim {
    from{
        left : -1000px ;
    }to{
        left :  0px; 
    }
}
.left-slide{
    animation: left-anim 0.5s;
}
.right-slide{
    animation: right-anim 0.5s;
    z-index: 2;
}
/*Shimmer*/
.shimmer{
    background-color: lightgray;
}
/*Body*/
.category-container{
    font-family: Arial, Helvetica, sans-serif;
   
}
.category-container i{
    cursor: pointer;
}
.category-text{
    background: linear-gradient(to right, #f32170,#ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bolder;
}

@keyframes open{
    from{
        height: 0;
    }to{
        height: max-content;
    }
}

.filter-container{
    /* height: 300px; */
    overflow-y: hidden;
    animation: open 0.01s ease-in-out ;
}
.image-container{
    border-radius: 10px;
    overflow: hidden;
}
.image-container img{
    height: 400px;
    width: 100% ;
}
.image-container div{
    background-color: white;
    top : 10px ;
    right: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.box-shadow{
    box-shadow: 0 0 10px lightgrey;
}
.scale{
    transform: scale(1.3);
    transition:transform 1s ease-in-out;
}
.clicked-button{
    border: 2px solid rgba(0, 0, 0, 0.593) !important;
}

.pagination button{
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    height: 50px;
    border-radius: 10px;
    color: white;
}

.pagination button:active , .pagination button:disabled{
    background-image: linear-gradient(to right, rgba(242, 112, 156 , 0.5), rgba(255, 148, 114 , 0.5));
}

.filter-button{
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    height: 45px;
    border-radius: 20px;
    color: white;
    border: none;
}
